target/
.lein-*
.nrepl-port
.cpcache/
*.jar
*.class
resources/public/js/compiled/
figwheel_server.log
.env
.DS_Store
node_modules/
.git/
.gitignore
README.md
Dockerfile
.dockerignore
docker-compose.yml
project.clj
